{
  "extension": [
    "ts"
  ],
  "node-option": [
    "import=tsx/esm"
  ],
  "spec": [
    "./mocha/tests/"
  ],
  "timeout": 120000,
  "reporter": "mochawesome",
  "reporter-options": "reportDir=mochareports"
}
